*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width:576px) {
    .userForm{
        max-width: 200px !important;
    }
}

.ant-table-content{
    overflow-x: auto;
}

.ant-form-item-label {
     text-align: left !important;
    
 }